name: Deploy {{ framework|capitalize }}

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to {{ target|capitalize }}
        run: echo "Deploying {{ framework }} to {{ target }}..."
